*{
  margin:0;
}

.app {
background-color: #fafafa;
height:100vh;
}

.app__header {
  object-fit:contain; /*This makes it such that the instagram logo keeps its aspect ratio*/
  background-color: white;
  padding:20px; /*This adds pading to the header so its not resting right at the top of the page*/
  border-bottom: 1px solid lightgray;/*adds a solid light gray line to seperate the header from the body*/
}

.app__signup {
  display:flex ;
  flex-direction: column;
}

